*{
    margin: 0;
    padding: 0;
}
h1{
    padding-top: 05vmin; 
}
body{
    background-color: #92487A; 
    color: #540863;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
     justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #FFD3D5;  
    border-radius: 1rem;
    font-size: 12vmin;
    border: none;
    box-shadow: 0px, 0px, 1rem, rgba(0, 0, 0, 1.5);
    color: #540863;
    
}
#reset{
    padding: 1.5vmin;
    background-color: #540863;
    color: #FFD3D5;
    font-size: 3vmin;
    border: none;
    border-radius: 1rem;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#newGame-btn{
    padding: 2vmin;
    background-color: #540863;
    color: #FFD3D5;
    font-size: 3vmin;
    border: none;
    border-radius: 1rem;
    margin-top: 3rem;
}
#msg{
    color: #FFD3D5;
    font-size: 3rem;
}
.hide{
    display: none;
}
.color1 {
    color: #540863;
}
.color2{
    color: #92487A;
}